---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <script src="/assets/js/main.js" defer></script>
</head>
<body>
    <div x-data="randomNameGenerator()">
        <h1>Random Name Generator</h1>
        <button @click="generateName">Generate Name</button>
        <p x-text="randomName"></p>
    </div>
  <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
    </ul>
  </nav>
    {{ content }}
</body>
</html>

